html[mode="ios"] ion-list {
    --padding-detail: 20px;
}
html[mode="md"] ion-list {
    --padding-detail: 16px;
}

.stoneSummary_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
[data-is-setting-stone-found=true] .stoneSummary_background {
    background: rgba(0,0,0,0);
    background: linear-gradient(70deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 40.9%,
        rgba(var(--ion-color-primary-rgb),1) 41%,
        rgba(var(--ion-color-primary-rgb),1) 53%,
        rgba(0,0,0,0) 53.1%,
        rgba(0,0,0,0) 60.9%,
        rgba(var(--ion-color-primary-rgb),1) 61%,
        rgba(var(--ion-color-primary-rgb),1) 69%,
        rgba(0,0,0,0) 69.1%,
        rgba(0,0,0,0) 74%,
        rgba(var(--ion-color-primary-rgb),1) 74.1%,
        rgba(var(--ion-color-primary-rgb),1) 78%,
        rgba(0,0,0,0) 78.1%,
        rgba(0,0,0,0) 82%,
        rgba(var(--ion-color-primary-rgb),1) 82.1%,
        rgba(var(--ion-color-primary-rgb),1) 83.9%,
        rgba(0,0,0,0) 84%,
        rgba(0,0,0,0) 100%);
    animation: setStoneFound 400ms ease-out forwards;
}

@keyframes setStoneFound {
    0% {
        transform: scale(1) translateX(-5%);
    }
    100% {
        transform: scale(3) translateX(28%);
    }
}

.stoneSummary_headerLabel {
    z-index: 10;
}

.stoneSummary_locationHeader {
    color: var(--ion-color-primary-tint);
}
[data-is-stone-found=true] .stoneSummary_locationHeader {
    color: var(--color);
}

.stoneSummary_showMoreButton {
    transition: transform .4s ease-out, color .4s ease-out;
    color: var(--ion-color-primary-tint);
}
.stoneSummary_showMoreButton.stoneSummary_showMoreButton-detailShown {
    transform: rotate(135deg);
}
[data-is-stone-found=true] .stoneSummary_showMoreButton {
    color: var(--color);
}

.stoneDetail_wrapper {
    background-color: var(--ion-color-step-100);
    transition: max-height .4s ease-out;
    max-height: 0;
    overflow: hidden;
}
.stoneDetail_wrapper.stoneDetail_wrapper-detailShown {
    max-height: var(--stoneDetail-innerHeight);
}

.stoneDetail_inner {
    padding: var(--padding-detail);
    line-height: 1.25;
}