.stoneSummary_headerLabel {
    z-index: 10;
    transition: height .5s;
}

.stoneSummary_showMoreButton {
    transition: transform .5s ease-out;
}
.stoneSummary_showMoreButton.stoneSummary_showMoreButton-detailShown {
    transform: rotate(135deg);
}